{% extends 'base.html' %}
{% load static %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-lg-6">
      <h1 class="text-center mb-4">Sigup</h1>
      <form id="signup-form" method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="email" class="form-control rounded-3" id="{{ form.email.id_for_label }}" placeholder="name@example.com" name="{{ form.email.html_name }}">
          <label for="{{ form.email.id_for_label }}">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control rounded-3" id="{{ form.username.id_for_label }}" placeholder="Username" name="{{ form.username.html_name }}">
          <label for="{{ form.username.id_for_label }}">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control rounded-3" id="{{ form.password1.id_for_label }}" placeholder="Password" name="{{ form.password1.html_name }}">
          <label for="{{ form.password1.id_for_label }}">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control rounded-3" id="{{ form.password2.id_for_label }}" placeholder="Confirm Password" name="{{ form.password2.html_name }}">
          <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    <strong>{{ field.label }}: </strong>{{ error }}
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}
        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        <p> Already a member? <a href="{% url 'accounts:login' %}">Login</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
