{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'mysite/snippets/home_css.html' %} 

    <main class="mainblur">
        <div class="homescreen imgmain w-100">
            <h1 class="text-white bigfont">Welcome to Your Workout Portal</h1>
            <p class="text-white">This is the place where you can manage your workout programs with ease.</p>
            {% if user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg mb-3">Logout</button>
                </form>
                <a href="{% url 'mysite:workout-list-create' %}" class="btn btn-success btn-lg">Create a New Workout Program</a>
            {% else %}
                <p class="mt-4">Please <a href="{% url 'accounts:login' %}">login</a> to get started.</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
